#board{
    width: 900px;
    height: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 10px solid black;
}

.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

.black{
    background-color: rgb(61, 123, 90);
}

.white{
    background-color: rgb(227, 209, 177);
}

img{
    max-width: 90px;
    max-height: 90px;
    margin: auto;
}